body{
    background-color: cornsilk;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    text-shadow: 2px 1px darkgray;
    letter-spacing: 2px;
    font-variant: small-caps;
}
h2{
    background-color: black;
    color:cornsilk;
}
footer{
    text-align: center;
    font-style: italic;
    font-size: small;
}
a:link, a:visited {
    color: #722F30;
}
a:hover{
    color: #722F30;
    text-decoration: none;
    font-style: italic;
}